.header__container{
    display: flex;
    @include container;

    .sub__flex{
        @include sub-flex;  
    }

    .sub__btn{
        background: #f0f3f8;
        width: 500px;
        padding: 1.45rem;
        border-radius: 80px;
        margin-right: 60px;

        p{
            color: #868686;
            padding-left: 5px;
        }
        
    }

    .sub__date{
        margin-top: 1.5rem;
        margin-left: 15px;
        

        img{
            @include img-width;
            margin-right: 1.5rem;
        }

        p{
            margin-right: 5rem;
            @include font2;
        }
    }

    .sub__profile{
        margin-top: .3rem;
        margin-left: 3rem;

        .icon{
            @include img-width;
            margin-right: 2rem;
        }

        .picture{
           width: 60px;
           margin-right: .5rem;
        }

        p{
            @include font2;
            margin-right: .5rem;
        }

        .arrow{
            transform: rotate(90deg);
            
        }
    }
}

.sub-header{
    @include container;
    display: flex;
    // background-color: red;
    justify-content: space-between;
    align-items: center;

    .sub__flex{
        @include sub-flex;  
        transform: translateX(-70px);
        border: 2px solid #f0f3f8;
        border-radius: 80px;
        width: 200px;
        justify-content: center;
       
        
    }

    &__flex{
        display: flex;

        
    }

    &__items{
        display: flex;
        
        img{
            width: 60px;
        }

        .img-translate1{
            transform: translate(-30px, 0);
        }

        .img-translate2{
            transform: translate(-60px, 0);
        }

        .img-translate3{
            transform: translate(-90px, 0);
        }

       
        .icon{
            width: 20px;
            margin-right: .5rem; 
        }

        p{
           @include font;
           font-weight: normal;
        }   
    }  

    .category{
        margin-right: 45px;
        
        p{
            @include font;
            font-weight: normal;

            &{
                a{
                    color:#303031;
                 }
            }
            :last-of-type{
                 // margin-right: 3px;
            }

            ::before{
                content: "";
                width: 7px;
                height: 8px;
                background:  $primary-color;
                display: inline-block;
                text-align: center;
                border-radius: 50%;
                margin-bottom: .5px;
                margin-right: 10px;
                margin-left: 70px;
                :nth-last-of-type()

                
            }

         

         

        }        
    }
}

