* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.wrapper {
  background: #3744BD;
  width: 5rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 3rem 1rem;
}

.wrapper__logo {
  padding-bottom: 1rem;
}

.wrapper__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__icons a {
  padding-top: 2rem;
}

.wrapper__logout {
  padding-top: 20rem;
}

.sidebar {
  padding-top: 3rem;
  background: #ffffff;
}

.sidebar__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.4rem;
  padding-left: 30px;
}

.sidebar__head img {
  width: 30px;
  margin-right: 20px;
}

.sidebar__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5rem;
}

.sidebar__flex img {
  padding-left: 30px;
  padding-right: 20px;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  width: 20px;
}

.sidebar__flex .arrow {
  margin-left: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.sidebar__flex p {
  padding-bottom: 2px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.sidebar .dropDownContainer.open .arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sidebar .dropDownContainer.open .sidebar__dropdown {
  max-height: 600px;
}

.sidebar__dropdown {
  font-size: 13px;
  font-size: 13px;
  font-weight: 500;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  max-height: 0px;
  overflow: hidden;
}

.sidebar__dropdown p {
  padding-top: 2rem;
  padding-left: 85px;
  color: #868686;
  cursor: pointer;
}

.sidebar__dropdown p:last-of-type {
  color: #303031;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1050px;
  margin: 0 auto;
}

.header__container .header__flex {
  padding-top: 2.5rem;
}

.header__container .header__flex .sub__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__flex .sub__btn {
  background: #f0f3f8;
  width: 530px;
  height: 50px;
  padding: 1.45rem;
  border-radius: 80px;
  margin-right: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__flex .sub__btn p {
  color: #868686;
  padding-left: 5px;
}

.header__container .header__flex .sub__date {
  margin-top: 1rem;
}

.header__container .header__flex .sub__date img {
  width: 20px;
  margin-right: 16px;
}

.header__container .header__flex .sub__date p {
  font-size: 14px;
}

.header__container .header__flex .sub__profile {
  margin-left: 5.2rem;
  margin-top: -0.2rem;
}

.header__container .header__flex .sub__profile .icon {
  width: 20px;
  margin-right: 1.5rem;
}

.header__container .header__flex .sub__profile .picture {
  width: 60px;
  margin-right: .5rem;
}

.header__container .header__flex .sub__profile p {
  font-size: 14px;
  margin-right: .3rem;
}

.header__container .header__flex .sub__profile .arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 20px;
}

.sub-header {
  max-width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.9rem;
}

.sub-header .sub__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-75px);
          transform: translateX(-75px);
  border: 1px solid #D8D9DB;
  border-radius: 80px;
  width: 150px;
  height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
  padding: 0px 9px;
}

.sub-header .sub__flex a {
  color: #303031;
}

.sub-header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-header__items img {
  width: 50px;
}

.sub-header__items .img-translate1 {
  -webkit-transform: translate(-20px, 0);
          transform: translate(-20px, 0);
}

.sub-header__items .img-translate2 {
  -webkit-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
}

.sub-header__items .img-translate3 {
  -webkit-transform: translate(-60px, 0);
          transform: translate(-60px, 0);
}

.sub-header__items .img-translate4 {
  -webkit-transform: translate(-80px, 0);
          transform: translate(-80px, 0);
}

.sub-header__items .icon {
  width: 20px;
  margin-right: .7rem;
}

.sub-header__items p {
  font-size: 13px;
  font-weight: 500;
  font-weight: normal;
}

.sub-header .category p {
  font-size: 13px;
  font-weight: 500;
  font-weight: normal;
}

.sub-header .category p a {
  color: #303031;
}

.sub-header .category .cat-1 ::before {
  content: '';
  width: 7px;
  height: 7px;
  background: #3744BD;
  display: inline-block;
  text-align: center;
  border-radius: 3.5px;
  margin-bottom: .5px;
  margin-right: 10px;
  margin-left: 30px;
}

.sub-header .category .cat-2 ::before {
  content: '';
  width: 7px;
  height: 7px;
  background: #fddfa6;
  display: inline-block;
  text-align: center;
  border-radius: 3.5px;
  margin-bottom: .5px;
  margin-right: 10px;
  margin-left: 30px;
}

.sub-header .category .cat-3 ::before {
  content: '';
  width: 7px;
  height: 7px;
  background: #d9e3f5;
  display: inline-block;
  text-align: center;
  border-radius: 3.5px;
  margin-bottom: .5px;
  margin-right: 10px;
  margin-left: 30px;
}

.rank {
  max-width: 1050px;
  margin: 0 auto;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.rank__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rank__items .item h2 span {
  color: #b7bac5;
  font-weight: 500;
  padding-left: 5px;
}

.rank__items .new-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 500;
  background: #f0f3f8;
  padding: .7rem;
  border-radius: 80px;
  height: 35px;
  width: 120px;
  padding-left: 20px;
  margin-left: 50px;
}

.rank__items .new-task .icon {
  width: 17px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.rank__items .new-task p a {
  color: #343435;
}

.card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  max-width: 1050px;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.card-grid__background {
  background: #eaebf1;
  width: 100%;
  position: relative;
  border-radius: 5px;
  margin: 0 0 32px 0;
}

.card-grid__background .__cards {
  background: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 1.5rem;
}

.card-grid__background .__cards__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-grid__background .__cards__flex .flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-grid__background .__cards__flex .flex-left1 {
  font-size: 16px;
  font-weight: 450;
}

.card-grid__background .__cards__flex .flex-left1 a {
  color: #303031;
}

.card-grid__background .__cards__flex .flex-left1 ::before {
  content: "";
  width: 7px;
  height: 7px;
  background: #fddfa6;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 1.9px;
  margin-right: 8px;
}

.card-grid__background .__cards__flex .flex-left2 {
  font-size: 16px;
  font-weight: 450;
}

.card-grid__background .__cards__flex .flex-left2 a {
  color: #303031;
}

.card-grid__background .__cards__flex .flex-left2 ::before {
  content: "";
  width: 7px;
  height: 7px;
  background: #3744BD;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 1.9px;
  margin-right: 8px;
}

.card-grid__background .__cards__flex .flex-left3 {
  font-size: 16px;
  font-weight: 450;
}

.card-grid__background .__cards__flex .flex-left3 a {
  color: #303031;
}

.card-grid__background .__cards__flex .flex-left3 ::before {
  content: "";
  width: 7px;
  height: 7px;
  background: #fddfa6;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 1.9px;
  margin-right: 8px;
}

.card-grid__background .__cards__flex .flex-left4 {
  font-size: 16px;
  font-weight: 450;
}

.card-grid__background .__cards__flex .flex-left4 a {
  color: #303031;
}

.card-grid__background .__cards__flex .flex-left4 ::before {
  content: "";
  width: 7px;
  height: 7px;
  background: #d9e3f5;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 1.9px;
  margin-right: 8px;
}

.card-grid__background .__cards__flex .flex-right .icon {
  width: 20px;
  margin-right: 4px;
}

.card-grid__background .__cards__flex .flex-right p {
  color: #a9adb9;
}

.card-grid__background .__cards__text {
  margin-top: 14px;
  font-size: 14px;
  color: #a9adb9;
  font-weight: normal;
  line-height: 1.4;
  width: 100%;
}

.card-grid__background .__cards__line {
  width: 100%;
  height: 0.4px;
  background: #f0f3f8;
}

.card-grid__background .__cards__line .line1 {
  width: 47%;
  height: 2px;
  background: #fddfa6;
}

.card-grid__background .__cards__line {
  width: 100%;
  height: 0.4px;
  background: #f0f3f8;
  margin-top: 0.8rem;
}

.card-grid__background .__cards__line .line2 {
  width: 30.5%;
  height: 2px;
  background: #3744BD;
}

.card-grid__background .__cards__line .line2:even(2) {
  width: 100%;
}

.card-grid__background .__cards__line {
  width: 100%;
  height: 0.4px;
  background: #f0f3f8;
}

.card-grid__background .__cards__line .line3 {
  width: 70%;
  height: 2px;
  background: #fddfa6;
}

.card-grid__background .__cards__line {
  width: 100%;
  height: 0.4px;
  background: #f0f3f8;
}

.card-grid__background .__cards__line .line4 {
  width: 63%;
  height: 2px;
  background: #edf0f7;
}

.card-grid__background .__cards__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-grid__background .__cards__flex .items img {
  width: 30px;
  margin-top: 15px;
}

.card-grid__background .__cards__flex .items .img-translate1 {
  -webkit-transform: translate(-15px, 0);
          transform: translate(-15px, 0);
}

.card-grid__background .__cards__flex .items .img-translate2 {
  -webkit-transform: translate(-35px, 0);
          transform: translate(-35px, 0);
}

.card-grid__background .__cards__flex .items .img-translate3 {
  -webkit-transform: translate(-55px, 0);
          transform: translate(-55px, 0);
}

.card-grid__background .__cards__flex .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.card-grid__background .__cards__flex .dots .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #c7cad2;
  margin-right: 2.5px;
}

.card-grid__background .__cards__card img {
  width: 280px;
  margin-top: 2rem;
}

.card-grid__background .__cards .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 30px;
}

.card-grid__background .__cards .days img {
  width: 20px;
  margin-right: 5px;
}

.card-grid__background .__cards .days p {
  font-size: 12px;
  color: #e8eaec;
}

body {
  background: #f9fafc;
  color: #303031;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
}

.body__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5rem 250px 1fr;
      grid-template-columns: 5rem 250px 1fr;
  height: 100vh;
  overflow: hidden;
}

.body__grid > section {
  overflow: auto;
}

.body__grid > section::-webkit-scrollbar {
  display: none;
}

h1, h2, h3 {
  font-weight: 600;
  color: #0E0E0E;
  font-size: 20px;
}

.side-icons, .side-bar {
  z-index: 2;
}
/*# sourceMappingURL=main.css.map */